<h2>Expectation for Treatment Duration and Stopping </h2>
<p>Most people need to stay in treatment for at least 3-5 years. This can be different for different people. If you have have opioid use disorder for a longer period of time, it may take a longer period of treatment to allow your brain to heal.</p>
<p>If you and your doctor decide it is time to end treatment, this can be done slowly with close monitoring so that you will not experience any difficult symptoms. </p>
<p>If treatment is stopped suddenly, either by stopping on your own or from circumstances outside of your control (such as incarceration), medications can have withdrawal effects.</p>
<a [routerLink]="['/expectations/stopping']" class="button">Next</a> 