<h2>Output Page</h2>
<p>Please use this page to summarize your thoughts after using this decision aid. All saved responses will be shared with the doctor.</p>

<form [formGroup]="form">
    <app-choice-field
        formControlName="favorite"
        label="What medication are you most interested in?"
        [options]="medications"
        >
    </app-choice-field>
    <app-choice-field
        formControlName="secondFavorite"
        label="What medication is your second favorite?"
        [options]="secondMedications"
        >
    </app-choice-field>
    <fieldset>
        <legend>Which attributes matter most to you?</legend>
        <ul class="checkbox">
            <input type="checkbox">Symptom relief
            <input type="checkbox">Mortality
            <input type="checkbox">Risk of relapse
            <input type="checkbox">Impact on my function <em>(relationships, employment, legal trouble)</em>
            <input type="checkbox">How hard it is to start the medication
            <input type="checkbox">Convenience <em>(how often I have to pick up the medication)</em>
            <input type="checkbox">How the medication gets in my body
            <input type="checkbox">Side effects
            <input type="checkbox">Cost
            <input type="checkbox">Withdrawl symptoms if I stop this medication on my own
        </ul>
    </fieldset>
    <fieldset>
        <legend>What questions would you like to ask the doctor?</legend>
        <div>
            <label>Enter a question</label>
            <input type="text" />
        </div>
    </fieldset>
    <input type="submit" value="Save" />
</form>
