<h2>Summary</h2>
<p>Please use this page to summarize your thoughts after using this decision aid.</p>
<form [formGroup]="form"
    (ngSubmit)="submit()"
    >
    <app-choice-field
        formControlName="favorite"
        label="What medication are you most interested in?"
        [options]="medications"
        >
    </app-choice-field>
    <app-choice-field
        formControlName="secondFavorite"
        label="What medication is your second favorite?"
        [options]="secondMedications"
        >
    </app-choice-field>
    <app-list-field
        label="Which attributes matter most to you?"
        [options]="attributes"
        >
    </app-list-field>
    <button mat-raised-button color="primary">Save</button>
</form>
