@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
    font-family: 'arial', 'sans-serif';
}

body {
    margin: 0px;
    display: block;
    height: 100%;
}

app-root > * {
    padding: 1em 2em;
}

app-root > header {
    background-color: #cccccc;

    a {
        padding: 1em;
    }

    a.active {
        background-color: #ffffff;
    }
}

router-outlet {
    display: none;
    flex-shrink: 1;
    height: 0px;
}
