@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-text: #333333;
$color-link: #0000FF;

$color-background: #ffffff;
$color-background-alternative: #f4f4f4;

html {
    height: 100%;
    font-family: 'arial', 'sans-serif';
    color: $color-text;
}

body {
    margin: 0px;
    display: block;
    height: 100%;
}

router-outlet {
    display: none;
}

// Application Layout

app-root {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    > * {
        padding: 2em;
    }

    header {
        flex: 0 0 auto;
        background-color: $color-background-alternative;
    }

    #content {
        flex: 1 1 auto;
        overflow: auto;
        background-color: $color-background;
    }
}

app-root #content {

    > * {
        display: block;
        margin: 0em auto;
        width: 540px;
    }

    > table {
        display: table;
        width: auto;
    }
}


// Header

app-root header nav {
    
    > * {
        display: block;
        margin: 1em 0em;
    }

    a {
        color: $color-link;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    a.active {
        color: $color-text;
        text-decoration: underline;
    }
}


// Content Styles

.content {
    display: flex;
    flex-direction: column;
}

.content > * {
    margin: 1em;
    flex-grow: 1;
}

.content > form {
    flex-grow: 0;
}


// Form Styles

form .error {
    color: #CC0000;
    font-weight: bold;
}

form label,
form fieldset legend {
    display: block;
    font-weight: bold;
}

form > * {
    margin-top: 0.5em;
}

form fieldset {
    margin: 0em;
    padding: 0em;
    border: 0px;
}
