<h3>What does treatment for opioid use disorder look like?</h3>
<p>Using medications has best record for success</p>
<p>Immediate effects, the treatment for opioid addiction will Calm the body’s system as it gets used to being away from the drug by treating withdrawal symptoms and decreasing cravings.</p>
<p>Over time, medication:</p>
<ul>
    <li>helps you stay OFF opioids</li>
    <li>reduces risk of early death</li>
    <li>reduces legal problems</li>
    <li>improves physical and mental health</li>
    <li>helps you enjoy things that matter to you</li>
</ul>
<h3>What kind of medications are there?</h3>
<p>Currently there are categories types of medications proven to help long term. They can come in different versions and have different brand names</p>
<ul>
    <li>Methadone</li>
    <li>Buprenorphine and buprenorphine-nalaxone</li>
    <li>Naltrexone (Vivitrol)</li>
</ul>
<h3>Benefits of medication</h3>
<app-grid
    [effects]="effects"
    >
</app-grid>
