<h3 >{{currentDay}} Days</h3>
<nav>
    <button *ngIf="!treating" (click)="startTreatment()">Start Treatment</button>
    <button *ngIf="treating" (click)="stopTreatment()">Stop Treatment</button>
    <app-timeline (currentDay)="updateDay($event)" [days]="days"></app-timeline>
</nav>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Medication</th>
                <th *ngFor="let effect of effects">{{effect.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medication of medications">
                <td class="medication">{{medication.name}}</td>
                <td *ngFor="let effect of effects">
                    <app-medication-craving-effectiveness
                        *ngIf='effect.key=="effectivenessCravings"'
                        [medication]="medication"
                        [effect]="effect"
                    ></app-medication-craving-effectiveness>
                </td>
            </tr>
        </tbody>
    </table>
</div>