
:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .star {
        display: block;
        width: 2em;
        height: 2em;
        background-color: #A6D3EB;

        mask-image: url('/assets/star.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
    }
}
