<table>
    <thead>
        <tr>
            <th>Medication</th>
            <th *ngFor="let medication of medications">
                {{medication.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let effect of effects">
            <th (click)="toggleEffect(effect)">
                {{effect.name}}
            </th>
            <td *ngFor="let medication of medications"
                (click)="toggleEffect(effect)"
                [ngSwitch]="effect.category"
                >
                <app-cravings
                    *ngSwitchCase="'circle'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-cravings>
                <app-risk-of-death
                    *ngSwitchCase="'timeline'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-risk-of-death>
                <app-side-effects
                    *ngSwitchCase="'list'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-side-effects>
                <app-medication-effect
                    *ngSwitchDefault
                    [medication]="medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-medication-effect>
            </td>
        </tr>
    </tbody>
</table>