<table>
    <thead>
        <tr>
            <th>Medication</th>
            <th *ngFor="let medication of medications">
                {{medication.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let effect of effects">
            <th (click)="toggleEffect(effect)">
                {{effect.name}}
                <a *ngIf="selectedAttribute===effect.key">Close</a>
                <a *ngIf="selectedAttribute!==effect.key">Expand</a>
            </th>
            <td *ngFor="let medication of medications"
                (click)="toggleEffect(effect)"
                >
                <app-medication-effect
                    [medication]="medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-medication-effect>
            </td>
        </tr>
    </tbody>
</table>