<div class="grid">
    <ul class="column-names">
        <li *ngFor="let medication of medications"
            >
            {{medication.name}}
        </li>
    </ul>
    <article *ngFor="let effect of effects"
        [ngClass]="{expanded: isExpanded(effect)}"
        (click)="toggleEffect(effect)"
        >
        <h3>{{effect.name}}</h3>
        <div class="explanation content" 
            [innerHTML]="effect.description"
            >
        </div>
        <ul>
            <li *ngFor="let medication of medications"
                [ngSwitch]="effect.category"
                >
                <app-cravings
                    *ngSwitchCase="'circle'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-cravings>
                <app-risk-of-death
                    *ngSwitchCase="'timeline'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-risk-of-death>
                <app-side-effects
                    *ngSwitchCase="'list'"
                    [medication] = "medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-side-effects>
                <app-medication-location
                    *ngSwitchCase="'icon'"
                    [medication] = "medication"
                    [effect] = "effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-medication-location>
                <app-medication-effect
                    *ngSwitchDefault
                    [medication]="medication"
                    [effect]="effect"
                    [expanded]="selectedAttribute === effect.key"
                    >
                </app-medication-effect>
            </li>
        </ul>
    </article>
</div>
