<nav>
    <a [routerLink]="['/', chapter.slug]">{{chapter.title}}</a>
    <ul class="bullets">
        <li *ngFor="let page of chapter.pages">
            <a [routerLink]="['/', chapter.slug, page.slug]"
                routerLinkActive="active"
                >
                {{page.title}}
            </a>
        </li>
    </ul>
</nav>
<h2>{{page.title}}</h2>
<div [innerHTML]="page.content"></div>
<div *ngIf="page.chart"
    class="chart"
    >
    <h3>{{page.chart.title}}</h3>
    <app-grid
        [effects] = "page.chart.effects"
        [medications] = "page.chart.medications"
        >
    </app-grid>
</div>
<div *ngIf="page.quiz">
    <form> 
        <h3>{{page.quiz.title}}</h3>
        <app-boolean-field *ngFor="let question of page.quiz.questions">
            {{question.text}}
        </app-boolean-field>
    </form>
</div>
<nav>
    <button (click)="goToNextPage()">Next</button>
</nav>