<div class="app"
    [ngClass]="{isProtected: bottomOpen || outputOpen}"
    >
    <header>
        <div class="container">
            <nav class="navigation-grouped">
                <button (click)="goHome()">Home</button>
                <app-login></app-login>
                <button (click)="showOutput()">Output</button>
            </nav>
        </div>
    </header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="output"
        [ngClass]="{isOpen: outputOpen}"
        >
        <button (click)="closeOutput()">Close</button>
        <router-outlet name="output"></router-outlet>
    </div>
    <div class="bottom"
        [ngClass]="{isOpen: bottomOpen}"
        >
        <nav>
            <button (click)="closeBottom()">Close</button>
        </nav>
        <router-outlet name="bottom"></router-outlet>
    </div>
    <footer *ngIf="isEditor">
        <nav>
            <button (click)="editDecisionAid()">Edit Chapters</button>
        </nav>
    </footer>
</div>
<div class="modal-container">
    <router-outlet name="modal"></router-outlet>
</div>
