:host > * {
    background-color: transparent;
}

:host > mat-sidenav,
:host > mat-sidenav > mat-sidenav-content {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:host > mat-sidenav > mat-sidenav-content {
    overflow-y: scroll;
}
