<div id="main">
    <header>
        <nav>
            <button class="sidebar-button"
                (click)="navigationToggle()"
                >
                Navigation
            </button>
            <app-login></app-login>
            <button *ngIf="isEditor"
                (click)="editDecisionAid()"
                >
                Edit Decision Aid
            </button>
        </nav>
        <app-page-navigation></app-page-navigation>
    </header>
    <article id="content">
        <router-outlet></router-outlet>
    </article>
</div>
<div id="sidenav"
    [ngClass]="{opened: !navigationCollapsed}"
    >
    <app-chapter-navigation></app-chapter-navigation>
</div>
<div id="output"
    [ngClass]="{opened: !outputCollapsed}"
    >
    <app-output-page (completed)="clearParticipant()"></app-output-page>
</div>
<div id="blocker"
    [ngClass]="{'navigation-opened': !navigationCollapsed, 'output-opened': !outputCollapsed}"
    (click)="focusMain()"
></div>
