<mat-sidenav-container>
    <mat-sidenav #navigation
        position="start"
        fixedInViewport
        >
        <app-chapter-navigation></app-chapter-navigation>
    </mat-sidenav>
    <mat-sidenav #output
        position="end"
        fixedInViewport
        >
        <app-output-page></app-output-page>
    </mat-sidenav>
    <header>
        <nav>
            <button class="sidebar-button"
                (click)="navigation.open()"
                >
                Navigation
            </button>
            <button class="sidebar-button"
                (click)="output.open()"
                >
                Output
            </button>
        </nav>
        <nav *ngIf="currentPage && currentChapter">
            <a [routerLink]="['/', currentChapter.slug]">{{currentChapter.title}}</a>
            <ul class="bullets">
                <li *ngFor="let page of currentChapter.pages">
                    <a [routerLink]="['/', currentChapter.slug, page.slug]"
                        [ngClass]="{active: (page.slug === currentPage.slug)}"
                        >
                        {{page.title}}
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <article id="content">
        <router-outlet></router-outlet>
    </article>
</mat-sidenav-container>
