<div class="content">
    <mat-slider id="time" [(ngModel)]="sliderValue" min="0" [max]="sliderRange" step="1" tickInterval="1" vertical invert></mat-slider>
    <div>
        <h3>{{currentDay()}} Days</h3>
        <table>
            <thead>
                <tr>
                    <th>Medication</th>
                    <th *ngFor="let effect of effects">{{effect.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medication of medications">
                    <td class="medication">{{medication.name}}</td>
                    <td *ngFor="let effect of effects">{{getValueFor(medication.key, effect.key)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>