<div class="content">
    <form [formGroup]="featuresForm" (ngSubmit)="updatePreferences()">
        <p>Use the following form to udpate your medication preferences</p>
        <label for="initiation">Starting treatment</label>
        <mat-radio-group id="initiation" formControlName="initiation">
            <mat-radio-button value="startRightAway">Start immedately</mat-radio-button>
            <mat-radio-button value="startAfter2Days">Start after 2 day detox</mat-radio-button>
            <mat-radio-button value="detoxThenINJ">7-10 day detox</mat-radio-button>
        </mat-radio-group>
        <label for="withdrawlSymptoms">Withdrawl symptoms</label>
        <mat-radio-group id="withdrawlSymptoms" formControlName="withdrawlSymptoms">
            <mat-radio-button value="lessSevere">Slightly less severe than heroin withdrawl</mat-radio-button>
            <mat-radio-button value="milder">Milder than heroin withdrawl</mat-radio-button>
            <mat-radio-button value="headaches">Headaches</mat-radio-button>    
        </mat-radio-group>
        <div>
            <button mat-raised-button>Update</button>
        </div>
    </form>
    <div class="">
        <h2>Medication Recommendations</h2>
        <mat-card *ngFor="let medication of medications">
            <mat-card-header>
                <mat-card-title *ngIf="medication == 'MMT'">Methadone</mat-card-title>
                <mat-card-title *ngIf="medication == 'BPNSL'">Sublingual Buprenorphine</mat-card-title>
                <mat-card-title *ngIf="medication == 'BPNINJ'">Buprenorphine Injection</mat-card-title>
                <mat-card-title *ngIf="medication == 'BPNIMP'">Implantable Buprenorphine</mat-card-title>
                <mat-card-title *ngIf="medication == 'NTXXR'">Naltrexone</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>This is some example content that would describe more about the medication.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>