<app-page-navigation
    [page]="page"
    [editing]="isEditable"
    [editable]="isEditor"
    class="container"
    >
</app-page-navigation>
<article id="content" class="container">
    <h1>{{page.title}}</h1>
    <div *ngFor="let content of pageContents">
        <nav *ngIf="isEditable"
            class="navigation-grouped"
            >
            <span>
                <em>{{content.id}}</em>
                {{content.title}}
            </span>
            <button (click)="editContent(content)">Edit</button>
            <button (click)="deleteContent(content)">Delete</button>
        </nav>
        <div *ngIf="content.contentType === 'button'">
            <button (click)="buttonAction(content)">{{content.data.label}}</button>
        </div>
        <div *ngIf="content.contentType === 'text'">
            <app-text [html]="content.data.text"></app-text>
        </div>
        <div *ngIf="content.contentType === 'question'">
            <app-boolean-field>{{content.data.label}}</app-boolean-field>
        </div>
    </div>
    <nav *ngIf="isEditable">
        <button (click)="addText()" >Add Text</button>
        <button (click)="addButton()" >Add Button</button>
        <button (click)="addQuestion()">Add Question</button>
    </nav>
</article>
