<nav *ngIf="isEditor"
    class="container navigation-grouped"
    >
    <p>
        Page {{page.id}}
        <em *ngIf="page.published">Published</em>
        <em *ngIf="!page.published">Unublished</em>
    </p>
    <button *ngIf="isEditable"
        (click)="editPage()"
        >
        Edit Page Meta Data
    </button>
    <button *ngIf="isEditable"
        (click)="reorderPageContent()"
        >
        Reorder Page Content
    </button>
    <button *ngIf="isEditable"
        (click)="viewCurrentPage()"
        >
        View Page
    </button>
    <button *ngIf="!isEditable"
        (click)="editCurrentPage()"    
        >
        Edit Page
    </button>
</nav>
<nav *ngIf="chapter"
    class="sidebar"
    >
    <a *ngFor="let _chapter of chapters"
        [href]="'/chapters/'+_chapter.id"
        [ngClass]="{ active: chapter.id === _chapter.id }"
        >
        {{_chapter.title}}
    </a>
</nav>
<nav *ngIf="parentPage"
    class="container"
    >
    <a (click)="goToParentPage()">{{parentPage.title}}</a>
</nav>
<app-page-navigation
    [page]="page"
    [editing]="isEditable"
    [editable]="isEditor"
    class="container"
    >
</app-page-navigation>
<article id="content" class="container">
    <h1>{{page.title}}</h1>
    <div *ngFor="let content of pageContents">
        <nav *ngIf="isEditable"
            class="navigation-grouped"
            >
            <span>
                <em>{{content.id}}</em>
                {{content.title}}
            </span>
            <button (click)="editContent(content)">Edit</button>
            <button (click)="deleteContent(content)">Delete</button>
        </nav>
        <div *ngIf="content.contentType === 'button'">
            <button (click)="buttonAction(content)">{{content.data.label}}</button>
        </div>
        <div *ngIf="content.contentType === 'text'">
            <app-text [html]="content.data.text"></app-text>
        </div>
        <div *ngIf="content.contentType === 'question'">
            <fieldset>
                <legend>{{content.data.label}}</legend>
                <label *ngFor="let option of content.data.options">
                    <input *ngIf="content.data.format === 'radio'" type="radio" name="content.id" value="{{index}}" />
                    <input *ngIf="content.data.format === 'checkbox'" type="checkbox" name="content.id" value="{{index}}" />
                    {{option}}
                </label>
            </fieldset>
        </div>
        <div *ngIf="content.contentType === 'accordion'"
            class="app-accordion"
            >
            <div *ngFor="let item of content.data.items"
                [ngClass]="{open: item.open}"
                >
                <div class="header">
                    <span class="title">{{item.title}}</span>
                    <button *ngIf="item.open"
                        (click)="item.open = false"
                        >
                        Close
                    </button>
                    <button *ngIf="!item.open"
                        (click)="item.open = true"
                        >
                        Open
                    </button>
                </div>
                <div class="body">
                    <app-text [html]="item.text"></app-text>
                </div>
            </div>
        </div>
        <div *ngIf="content.contentType === 'page-gallery'">
            <app-page-gallery
                [content]="content"
                [isEditable]="isEditable"
                (navigateToPage)="goToChildPage($event)"
                (updatedContent)="updatedContent($event)"
                >
            </app-page-gallery>
        </div>
    </div>
    <nav *ngIf="nextButtonText">
        <button (click)="goToNextPage()">
            {{nextButtonText}}
        </button>
    </nav>
</article>
<nav *ngIf="isEditable"
    class="container"
    >
    <button (click)="addText()" >Add Text</button>
    <button (click)="addButton()" >Add Button</button>
    <button (click)="addQuestion()">Add Question</button>
    <button (click)="addPageGallery()">Add Page Gallery</button>
</nav>
