<nav *ngIf="isEditor"
    class="container navigation-grouped"
    >
    <p>
        Page {{page.id}}
        <em *ngIf="page.published">Published</em>
        <em *ngIf="!page.published">Unublished</em>
    </p>
    <button (click)="editTitle()">
        Edit Title
    </button>
    <button *ngIf="!page.published"
        (click)="publishPage()"
        >
        Publish
    </button>
    <button *ngIf="page.published"
        (click)="unpublishPage()"
        >
        Unpublish
    </button>
    <button (click)="reorderPageContent()">
        Reorder Page Content
    </button>
    <button *ngIf="isEditable"
        (click)="viewCurrentPage()"
        >
        View Page
    </button>
    <button *ngIf="!isEditable"
        (click)="editCurrentPage()"    
        >
        Edit Page
    </button>
</nav>
<app-page-navigation
    [page]="page"
    [editing]="isEditable"
    [editable]="isEditor"
    class="container"
    >
</app-page-navigation>
<article id="content" class="container">
    <h1>{{page.title}}</h1>
    <div *ngFor="let content of pageContents">
        <nav *ngIf="isEditable"
            class="navigation-grouped"
            >
            <span>
                <em>{{content.id}}</em>
                {{content.title}}
            </span>
            <button (click)="editContent(content)">Edit</button>
            <button (click)="deleteContent(content)">Delete</button>
        </nav>
        <div *ngIf="content.contentType === 'button'">
            <button (click)="buttonAction(content)">{{content.data.label}}</button>
        </div>
        <div *ngIf="content.contentType === 'text'">
            <app-text [html]="content.data.text"></app-text>
        </div>
        <div *ngIf="content.contentType === 'question'">
            <app-boolean-field>{{content.data.label}}</app-boolean-field>
        </div>
        <div *ngIf="content.contentType === 'accordion'">
            <div *ngFor="let item of content.data.items">
                <p>{{item.title}}</p>
                <app-text [html]="item.text"></app-text>
            </div>
        </div>
    </div>
    <nav *ngIf="isEditable">
        <button (click)="addText()" >Add Text</button>
        <button (click)="addButton()" >Add Button</button>
        <button (click)="addQuestion()">Add Question</button>
        <button (click)="addAccordion()">Add Accordion</button>
    </nav>
</article>
