<nav *ngIf="chapter">
    <a (click)="goToChapter(chapter)">{{chapter.title}}</a>
    <a *ngIf="editable && editing" (click)="viewCurrentPage()">View Page</a>
    <a *ngIf="editable && !editing" (click)="editCurrentPage()">Edit Page</a>
    <ul class="bullets">
        <li *ngFor="let _page of pages">
            <a (click)="goToPage(_page)"
                [ngClass]="{active: _page.id === currentPage.id}"
                >
                {{_page.title}}
            </a>
        </li>
    </ul>
</nav>