<section #selectedQuestionsList>
    <h3>Question Summaries</h3>
    <fieldset *ngFor="let question of selectedQuestions">
        <legend>{{question.id}} {{question.label}}</legend>
        <label for="summary-title-{{question.id}}">Title</label>
        <input id="summary-title-{{question.id}}" type="text" />
        <button type="button" (click)="remove(question)">Remove from summary</button>
    </fieldset>
</section>

<fieldset>
    <legend>Unselected Questions</legend>
    <ul>
        <li *ngFor="let question of unselectedQuestions">
            {{question.label}}
            <button type="button" (click)="add(question)" >Add question to summary</button>
        </li>
    </ul>
</fieldset>
