<h2>What does treatment for opioid use disorder look like?</h2>
<p>Using medications has best record for success</p>
<p>Immediate effects, the treatment for opioid addiction will Calm the body’s system as it gets used to being away from the drug by treating withdrawal symptoms and decreasing cravings.</p> 
<p>Over time, medication:</p>
<ul>
    <li>helps you stay OFF opioids</li>
    <li>reduces risk of early death</li>
    <li>reduces legal problems</li>
    <li>improves physical and mental health</li>
    <li>helps you enjoy things that matter to you</li>
</ul>
<a [routerLink]="['/treatment/medications']"
    class="button"
    >
    Next
</a> 
