<h2>What is opioid use disorder?</h2>
<p>Opioids are a type of drug that includes heroin and prescription pain medications for example Percocet, Vicodin, oxycodone, Oxycontin Dilaudid, and Fentanyl</p>
<p>At first a person might take these opioid drugs for medical reasons, or because of how it makes them feel. Over time, some people need to continue taking these drugs just to feel normal, even if it causes problems for themselves and their loved ones or even if it takes over their life. They can find it difficult to quit on their own.</p>
<form
    [formGroup]="form"
    (ngSubmit)="next()"
    >
    <h2>Do I have opioid use disorder?</h2>
    <fieldset>
        <legend>Have you ever taken any of the following drugs?</legend>
        <app-boolean-field *ngFor="let drug of drugs"
            [formControlName]="drug"
            >
            {{drug}}
        </app-boolean-field>
    </fieldset>
    <input type="submit" />
</form>