<h2>Do I have opioid use disorder?</h2>
<form
    [formGroup]="form"
    (ngSubmit)="next()"
    >
    <p *ngIf="error"
        class="error"
        >
        {{error}}
    </p>
    <fieldset>
        <legend>Based on your previous use of opioids, answer the following questions</legend>
        <app-boolean-field
            formControlName="first"
            >
            Did you ever need to use more opioids to get the same high as when you first started using opioids?
        </app-boolean-field>
        <app-boolean-field
            formControlName="missing"
            >
            Did the idea of missing a fix (or dose) ever make you anxious or worried?
        </app-boolean-field>
        <app-boolean-field
            formControlName="morning"
            >
            In the morning, did you ever use opioids to keep from feeling "dope sick" or did you ever feel "dope sick"?
        </app-boolean-field>
        <app-boolean-field
            formControlName="worry"   
            >
            Did you worry about your use of opioids?
        </app-boolean-field>
        <app-boolean-field
            formControlName="stop"
            >
            Did you find it difficult to stop or not use opioids?
        </app-boolean-field>
        <app-boolean-field
            formControlName="time"
            >
            Did you ever need to spend a lot of time/energy on finding opioids or recovering from feeling high?
        </app-boolean-field>
        <app-boolean-field
            formControlName="missImportant"
            >
            Did you ever miss important things like doctor's appointments, family/friend activities, or other things because of opioids?
        </app-boolean-field>
    </fieldset>
    <input type="submit" value="Next" />
</form>
