<nav>
    <button (click)="createChapter()">Add Chapter</button>
    <button (click)="reorderChapters()">Reorder Chapters</button>
</nav>

<section *ngFor="let chapter of chapters">
    <h3>{{chapter.title}}</h3>
    <span *ngIf="!chapter.published">(Unpublished)</span>
    <nav>
        <button (click)="editChapter(chapter)">
            Edit
        </button>
        <button (click)="reorderPages(chapter)">
            Reorder pages
        </button>
        <button (click)="deleteChapter(chapter)">
            Delete
        </button>
    </nav>
    <ul>
        <li *ngFor="let page of chapter.pages">
            <a [routerLink]="['/pages', page.id, 'edit']" routerLinkActive="active" >
                {{page.title}}
                <span *ngIf="!page.published">(Unpublished)</span>
            </a>
            <button (click)="editPage(page)">
                Edit
            </button>
            <button (click)="deletePage(page)">
                Delete
            </button>
        </li>
    </ul>
    <button (click)="addPage(chapter)">
        Add Page
    </button>
</section>
